/* styles/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60a165;
    padding: 1rem;
    color: white;
  }

  .navItems {
    display: flex;
    gap: 2rem;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navLink:hover {
    text-decoration: underline;
  }

  .logoutButton {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .logoutButton:hover {
    background-color: #ff4433;
  }
